@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400&display=swap");

$primary-color: #181823;
$secondary-color: blue;

$primary-font: "Rubik", sans-serif;

$weight-regular: 400;
$weight-bold: 700;

$h1-size: 10rem;
$h2-size: 8rem;
$h3-size: 6rem;
$h4-size: 4rem;
$h5-size: 2rem;
$paragraph-size: 1rem;

$h1-size-m: 4rem;
$h2-size-m: 3rem;
$h3-size-m: 2rem;
$h4-size-m: 1.5rem;
$h5-size-m: 1rem;

$screen-table: 1024px;
$screen-mobile: 600px;

$spacing-small: 1rem;
$spacing-default: 2rem;
$spacing-large: 4rem;
